@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --color1: hsl(212, 45%, 89%);
    --color2:  hsl(0, 0%, 100%);
    --colorh: hsl(218, 44%, 22%);
    --colorp: hsl(216, 15%, 48%);
    --colora: hsl(228, 45%, 44%);
    --shadow: rgba(0, 0, 0, 0.1);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color1) ;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--colorp);
}


 main {
    margin-block: calc(2rem + 8vh);
    margin-inline: auto;
    width: clamp(32rem, 90%, 37.5rem);
}

.card {
    background-color: var(--color2);
    width: calc(100% - 8rem);
    margin-block: calc(4rem + 1vh);
    margin-inline: auto;
    border-radius: calc(0.8rem + 1%);
    padding: 4%;
    box-shadow:  0.4rem 0.4rem 0.8rem var(--shadow);
}


img {
    width: 100%;
    border-radius: calc(0.6rem + 1%);
}


h2 {
    font-weight: 700;
    color: var(--colorh) ;
}


.card:hover {
    transform: scale(1.08);
}

.attribution {font-size: 1.1rem ; text-align: center; }
.attribution a { color: var(--colora) ;  text-decoration: none; }